img:hover + .img-label {
	opacity: 1;
}
.img-label {
	pointer-events: none;
	opacity: 0;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Optional - if you want to remove the margin */
}

input[type="radio"]:checked{
	background-color: red;
}

/* Style the dot (circle) */
.checkmark:after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	
}
